@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
}


.m-5{
    margin: 5px;
}
.toolbar{
    background-color: #13BDE2;
    border:none !important;
    &__title{
        color: white;
    }
    
}

.card-border-bottom{
    &-red{
        border-bottom: 10px solid #F76379;
    }
    &-blue{
        border-bottom: 10px solid #80D2FF;
    }
    &-green{
        border-bottom: 10px solid #6DBFBA;
    }
    &-yellow{
        border-bottom: 10px solid #FFD484;
    }
}

.bg{
    &-red{
        background-color: #F76379;
    }
    &-blue{
        background-color: #80D2FF;
    }
    &-green{
        background-color: #6DBFBA;
    }
    &-yellow{
        background-color: #FFD484;
    }
}

.text-right{
    text-align: right;
}

.text-big{
    font-size: xx-large;
}

.p-start{
    padding-left:10px;
    padding-top:8px;
    padding-right:10px;
}

.p-full{
    padding:10px;
}

.text-small{
    font-size: small;
}

.flex-2{
    display: flex;
    justify-content: space-between;
}

.rounded-img{
    border-radius: 50%;
}

.about-img{
    width: 150px;
    text-align: center;
    float: right;
}

a {
    text-decoration: none;;
}

.text-center{
    text-align: center;
}

.ic-jum {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    content: "&nbsp;";
    
  }

.back-button__icon, .back-button__label{
    fill: white;
    color:white;
}

iframe 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}